.linklist {
  display: flex;
  align-items: center;
}

.linklist > a {
  --social-icon-color: var(--text);
  --icon-h-offset: 50%;
  --icon-v-offset: 80%;
  --icon-v-offset-hover: 90%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--button-bg);
  height: 4rem;
  border: 4px solid var(--section-background);
  border-radius: 1rem;
  box-sizing: border-box;
}

/* makes every other background icon show up on the left side */
.linklist > a:nth-child(even) {
  --icon-v-offset: 20%;
  --icon-v-offset-hover: 10%;
}

.linklist > a:before {
  content: "";
  display: block;
  position: absolute;
  transition: all 250ms cubic-bezier(0,.65,.5,1);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-mask-image: var(--social-icon-url);
  mask-image: var(--social-icon-url);
  -webkit-mask-size: auto 300%;
  mask-size: auto 300%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: var(--icon-v-offset) var(--icon-h-offset);
  mask-position: var(--icon-v-offset) var(--icon-h-offset);
  background-color: transparent;
  border-radius: 1.5rem;
  opacity: 0.5;
}

.linklist > a:is(:hover, :focus, :focus-visible) {
  border-color: var(--social-icon-color);
  color: var(--social-icon-color);
}

.linklist > a:is(:hover, :focus, :focus-visible):before {
  background-color: var(--social-icon-color);
  -webkit-mask-position: var(--icon-v-offset-hover) var(--icon-h-offset);
  mask-position: var(--icon-v-offset-hover) var(--icon-h-offset);
}

.linklist > a > span {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.linklist > a > span:before {
  content: '';
  display: block;
  background-color: currentColor;
  width: 2rem;
  aspect-ratio: 1;
  -webkit-mask-image: var(--social-icon-url);
  mask-image: var(--social-icon-url);
}

/* bluesky */

.linklist > .bluesky {
  --social-icon-url: url("/assets/social_icons/bluesky.svg");
  --icon-h-offset: 55%;
}

.bluesky:is(:hover, :focus, :focus-visible) {
  background-color: #161e27;
  --social-icon-color: #208bfe;
}

/* discord */

.linklist > .discord {
  --social-icon-url: url("/assets/social_icons/discord.svg");
  --icon-h-offset: 50%;
}

.discord:is(:hover, :focus, :focus-visible) {
  background-color: #5865F2;
  --social-icon-color: #FFF;
}

/* revolt */

.linklist > .revolt {
  --social-icon-url: url("/assets/social_icons/revolt.svg");
  --icon-h-offset: 55%;
}

.revolt:is(:hover, :focus, :focus-visible) {
  background-color: #0b0c1e;
  --social-icon-color: #FF005C;
}

/* github */

.linklist > .github {
  --social-icon-url: url("/assets/social_icons/github.svg");
  --icon-h-offset: 20%;
}

.github:is(:hover, :focus, :focus-visible) {
  background-color: #161B22;
  --social-icon-color: #E6EDF3;
}

/* steam */

.linklist > .steam {
  --social-icon-url: url("/assets/social_icons/steam.svg");
}

.steam:is(:hover, :focus, :focus-visible) {
  background-color: #171D25;
  --social-icon-color: #C5C3C0;
}

/* youtube */

.linklist > .youtube {
  --social-icon-url: url("/assets/social_icons/youtube.svg");
}

.youtube:is(:hover, :focus, :focus-visible) {
  background-color: #FF1111;
  --social-icon-color: #FFF;
}

/* kofi */

.linklist > .kofi {
  --social-icon-url: url("/assets/social_icons/kofi.svg");
}

.kofi:is(:hover, :focus, :focus-visible) {
  background-color: #ff4646;
  --social-icon-color: #FFF;
}