.specs {
  text-align: center;
  align-items: center;
}

.specList {
  width: 90%;
  margin: 0 4rem;
}

.specList > li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0.5rem;
  justify-content: space-between;
  text-align: right;
  border-radius: 0.25rem;
}

.specList > li:nth-child(odd) {
  background-color: var(--button-bg);
}

.icongrid {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.icongrid a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 6rem;
  align-items: center;
}

.icongrid > a > div {
  height: 4rem;
  aspect-ratio: 1;
  background-color: var(--button-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 200ms;
}

.icongrid img {
  width: 100%;
  aspect-ratio: 1;
}

.icongrid > a:hover > div {
  transition: 0ms;
  transform: scale(1.1);
}