.footer {
  padding: 2rem;
  text-align: center;
}

.buildInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

@media screen and (max-width: calc(500px + 4rem)) {
  .buildInfo {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}