.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.whoami {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.avatar > img {
  width: 10rem;
  border-radius: 100%;
  transition: all 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: perspective(5cm);
}

.avatar:hover > img {
  transform: perspective(5cm) rotateY(180deg);
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 44%;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  margin-right: 1rem;
}

.summary > p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.navigation > a {
  padding: 0.5rem 0.25rem;
}