.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.whoami {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.avatar {
  display: block;
  border-radius: 100%;
  height: 10rem;
  aspect-ratio: 1;
}

.avatar > img {
  height: 100%;
  border-radius: 100%;
  transition: transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: perspective(5cm);
}

.avatar:hover > img {
  transform: perspective(5cm) rotateY(180deg);
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  margin-right: 1rem;
}

.summary > h1 {
  text-align: right;
}

.summary > p {
  margin: 0;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  gap: 0.5rem;
}

.navigation > a {
  text-align: center;
  padding: 0.5rem 0;
}

.navigation > a.currentPage {
  background-color: var(--focus-outline);
  color: var(--section-background);
  border-radius: 0.25rem;
}

.navigation > a.currentPage:is(:hover, :focus-visible) {
  color: var(--text);
}

@media screen and (max-width: calc(800px + 4rem)) {
  .avatar {
    height: 7rem;
  }

  .summary {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .navigation {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navigation > a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: calc(500px + 4rem)) {
  .whoami {
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    height: 6rem;
  }

  .summary {
    text-align: center;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .summary > h1 {
    text-align: center;
  }

  .navigation {
    grid-template-columns: 1fr 1fr;
  }
}