:root {
  --void-gap: 2rem;
  --default-content-width: 800px;

  --sidebar-size-desktop: 300px;
  --sidebar-size-mobile: 50px;
  
  --section-background: #FFC8B5;
  --text: #242035;
  --text-2: #57576b;
  --text-2-em: #303042;
  --button-bg: #EDDAD1;
  --button-text: var(--section-background);
  --button-bg-hover: #FF98BA;
  --button-text-hover: var(--section-background);
  --button-outline-hover: var(--button-bg);
  --focus-outline: #EE244A;

  --anim-delay: 300ms;
  --anim-duration: 0.75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --section-background: #242035;
    --text: #FFC8B5;
    --text-2: #C1B7BE;
    --text-2-em: #D8CAC8;
    --button-bg: #11121d;
    --button-text: #292929;
    --button-bg-hover: #FF98BA;
    --button-text-hover: var(--button-bg);
    --button-outline-hover: var(--button-bg);
    --focus-outline: #FF98BA;
  }
}

@font-face {
  font-family: "CoreSans";
  font-weight: bold;
  src: url("/Core\ Sans\ CR\ 75\ ExtraBold.ttf") format("opentype")
}

@font-face {
  font-family: "CoreSans";
  font-weight: normal;
  src: url("/Core\ Sans\ CR\ 55\ Medium.ttf") format("opentype")
}

body {
  font-family: "CoreSans", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-2);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--void-gap);
  margin: 0;
  padding: var(--void-gap);
  box-sizing: border-box;
  overflow-y: scroll; /* fixes page shifting when content becomes scrollable */
}

h1, h2, h3, h4, h5 {
  color: var(--text);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
}

h3 {
  margin-top: 0.75em;
}

p {
  margin: 0;
}

a {
  color: var(--focus-outline);
  transition: all 250ms cubic-bezier(0,.65,.5,1);
  text-decoration: underline;
  text-decoration-color: transparent;
  font-weight: bold;
  outline: 10px solid transparent;
  outline-offset: 10px;
  border-radius: 0.1em;
}

a[href]:hover, a:focus-visible {
  transition-duration: 0ms;
  color: var(--text); 
  text-decoration-color: currentColor;
}

a:focus-visible {
  outline: 3px solid var(--focus-outline);
  outline-offset: 3px;
}

ul {
  margin: 0 2em;
  padding: 0;
  margin-top: 0;
}

ul.no-bullet {
  list-style: none;
}

li:not(:first-of-type) {
  margin-top: 1em;
  text-align: justify;
}

em {
  color: var(--text-2-em);
  font-weight: bold;
  font-style: normal;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.25rem;
  border-style: hidden;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.5);
}

td, th {
  text-align: center;
  border: 2px solid rgba(0,0,0,0.5);
  padding: 1em;
  overflow-wrap: break-word;
}

th {
  font-size: 28px;
  background-color: var(--button-bg);
}